.hero {
	padding: 15px;
	font-family: arial;
	font-size: 12px;	
	letter-spacing: 1px;
}

header {
	width: 100%;
}

h1 {
	float: left;
}

nav li {
	float: right;
	display: inline;
	margin-left: 0;
	margin-right: 30px;
}

ul {
	float: right;
	display: inline;
	text-decoration: none;
}

h5, p {
	color: #6c757d;
}

div {
	margin-top: 30px;
}

li a:hover {
	color: green;
}

li a {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}

section {
	box-sizing: border-box;
	padding: 15px;
	float: left;
}

.page-title {
	width: 100%;
	background:  #e3e3e3;
}

.page-title h1, h5 {
	margin-left: 0px;
}

.page-title li{
	float: right;
	text-decoration: none;
}

wrap {
	margin-left: 0px;
}


.main img {
	width: 290px;
	height: 290px;
	margin-right: 0;
	margin-left: 0;
}

.text2 {
	width: 190px;
	text-align: left;
}

footer {
	background: #e3e3e3;
	display: inline;
	text-decoration: none;
}