body {
	background: #333;
}

.hero {
	padding: 15px;
	font-family: arial;
	font-size: 12px;	
	letter-spacing: 1px;
}

 .hero img {
	width: 300px;
	height: 100px;
 }

header {
	width: 100%;
}

header figure {
	float: left;
}

nav li {
	float: right;
	display: inline;
	margin-left: 0;
	margin-right: 30px;
}
nav a {
	text-transform: uppercase;
}

ul {
	float: right;
	display: inline;
	text-decoration: none;
}

h5, p {
	color: #6c757d;
}

div {
	margin-top: 30px;
}

li a:hover {
	color: green;
}

li a {
	text-decoration: none;
	color: black;
	color: white;	
	font-family: 'Alef';
	font-size: 16px;
}

section {
	box-sizing: border-box;
	padding: 15px;
	float: left;
}

.wrap h1 {
	color: #BC8F8F;
	text-transform: uppercase;
}

.page-title {
	width: 100%;
	background:  black;

}

.page-title h1, h5 {
	margin-left: 0px;
	color: red;
}

.page-title li{
	float: right;
	text-decoration: none;
}

.wrap1 h1 {
	font-size: 50px;
	text-transform: uppercase;
}

.wrap1 p {
	color: white;
}

.right img {
	height: 50px;
	width: 300px;
}

.main img {
	width: 290px;
	height: 290px;
	margin-right: 0;
	margin-left: 0;
}

.main p {
	color: white;
}

.text2 {
	width: 190px;
	text-align: left;
}

.left img{
	margin-top: 30px;
	height: 400px;
	width: 400px;
}

.wrap2 {
	background: black;
	width: 100%;
	height: 140px;
	margin-top: 20px;
	font-size: 18px;
}

footer {
	display: inline;
	text-decoration: none;
	text-align: center;
}

footer a {
	margin-top: -50px;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: #778899;
    color: white;
}
}